body {
	width:100%;
	
	margin: 0 auto;
	
	
}

nav {
	
	background-color: aqua;
	width:100%;
	
	background-color: black;
	background-size: cover;



}

nav ul {
	width:100%;
	list-style: none;
	margin: 0;
	padding: 0;
	
	

}

nav ul li {
	
	width: 25%;
	font-size:20px;
	float:right;
	color:white;
	font-family: impact;
	background-color: #267797;
	background-size: cover;
	font-size:18px;
}
nav ul li a {
	display:block; 
	width:100%;
	color:white;
	
}

h1 {
	
	text-align:center;
	font-size: 4em;
	color:green;
	padding: 10px;

}

.color {
	background-color: black;
}

#sport {
	background-color: silver;
}

.align {
	text-align: center;
	text-decoration: none;
	color:white;
	
ul {
	list-style: none;
}

 h2 .one {
	text-align: center;

}
.ac {
	text-align: center;
	color: blue;
	padding: 10px;
}
img {
	width: 300px;
	height: 200px;
}
p {
	font-size: 18px;
}

